## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import csv
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,milkovo,RU,2021-10-03 21:25:42,54.7167,158.6167,43.48,88,100,12.64,overcast clouds
1,1,rikitea,PF,2021-10-03 21:25:42,-23.1203,-134.9692,73.62,63,83,17.25,broken clouds
2,2,mataura,NZ,2021-10-03 21:25:42,-46.1927,168.8643,47.48,85,100,8.16,overcast clouds
3,3,alekseyevka,RU,2021-10-03 21:25:43,50.6309,38.6903,51.03,62,78,5.70,broken clouds
4,4,sao miguel,BR,2021-10-03 21:25:43,-5.4667,-35.3667,81.37,72,4,15.77,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,rikitea,PF,2021-10-03 21:25:42,-23.1203,-134.9692,73.62,63,83,17.25,broken clouds
4,4,sao miguel,BR,2021-10-03 21:25:43,-5.4667,-35.3667,81.37,72,4,15.77,clear sky
8,8,atuona,PF,2021-10-03 21:20:37,-9.8000,-139.0333,77.70,75,13,17.78,few clouds
11,11,saint-leu,RE,2021-10-03 21:21:51,-21.1500,55.2833,72.46,75,0,4.09,clear sky
13,13,carmen,MX,2021-10-03 21:25:45,18.6333,-91.8333,87.84,62,75,11.50,broken clouds
15,15,bambous virieux,MU,2021-10-03 21:20:58,-20.3428,57.7575,72.21,83,40,11.50,light rain
16,16,saint-philippe,RE,2021-10-03 21:20:14,-21.3585,55.7679,72.99,84,45,14.72,light rain
17,17,saint george,US,2021-10-03 21:17:46,37.1041,-113.5841,89.44,16,1,1.01,clear sky
20,20,ambon,ID,2021-10-03 21:25:46,-3.6954,128.1814,75.34,94,40,8.05,scattered clouds
22,22,lagoa,PT,2021-10-03 21:20:57,39.0500,-27.9833,70.70,92,38,11.52,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
city_data_df.count()

City_ID                559
City                   559
Country                553
Date                   559
Lat                    559
Lng                    559
Max Temp               559
Humidity               559
Cloudiness             559
Wind Speed             559
Current Description    559
dtype: int64

In [6]:
city_data_df.isnull().sum()

City_ID                0
City                   0
Country                6
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [ ]:
#nan_value = float("NaN")
#city_data_df['Country'].replace("", nan_value, inplace=True)
#city_data_df.dropna(subset = ["Country"], inplace=True)
#city_data_df.isnull().sum()

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_data_df = city_data_df.dropna()
clean_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,milkovo,RU,2021-10-03 21:25:42,54.7167,158.6167,43.48,88,100,12.64,overcast clouds
1,1,rikitea,PF,2021-10-03 21:25:42,-23.1203,-134.9692,73.62,63,83,17.25,broken clouds
2,2,mataura,NZ,2021-10-03 21:25:42,-46.1927,168.8643,47.48,85,100,8.16,overcast clouds
3,3,alekseyevka,RU,2021-10-03 21:25:43,50.6309,38.6903,51.03,62,78,5.70,broken clouds
4,4,sao miguel,BR,2021-10-03 21:25:43,-5.4667,-35.3667,81.37,72,4,15.77,clear sky
5,5,punta arenas,CL,2021-10-03 21:20:06,-53.1500,-70.9167,44.71,57,0,34.52,clear sky
6,6,kostomuksha,RU,2021-10-03 21:25:44,64.5710,30.5767,43.68,87,88,10.31,overcast clouds
7,7,burnie,AU,2021-10-03 21:25:44,-41.0667,145.9167,55.92,96,100,11.72,light rain
8,8,atuona,PF,2021-10-03 21:20:37,-9.8000,-139.0333,77.70,75,13,17.78,few clouds
9,9,castro,BR,2021-10-03 21:20:55,-24.7911,-50.0119,63.72,99,100,4.59,heavy intensity rain

In [9]:
clean_data_df.count()

City_ID                553
City                   553
Country                553
Date                   553
Lat                    553
Lng                    553
Max Temp               553
Humidity               553
Cloudiness             553
Wind Speed             553
Current Description    553
dtype: int64

In [10]:
clean_data_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                (city_data_df["Max Temp"] >= min_temp)]
clean_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,rikitea,PF,2021-10-03 21:25:42,-23.1203,-134.9692,73.62,63,83,17.25,broken clouds
4,4,sao miguel,BR,2021-10-03 21:25:43,-5.4667,-35.3667,81.37,72,4,15.77,clear sky
8,8,atuona,PF,2021-10-03 21:20:37,-9.8000,-139.0333,77.70,75,13,17.78,few clouds
11,11,saint-leu,RE,2021-10-03 21:21:51,-21.1500,55.2833,72.46,75,0,4.09,clear sky
13,13,carmen,MX,2021-10-03 21:25:45,18.6333,-91.8333,87.84,62,75,11.50,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
552,552,beloha,MG,2021-10-03 21:21:18,-25.1667,45.0500,71.58,77,5,0.96,clear sky
553,553,ende,ID,2021-10-03 21:28:03,-8.8432,121.6623,77.20,86,94,4.16,overcast clouds
556,556,puerto carreno,CO,2021-10-03 21:23:26,6.1890,-67.4859,92.01,51,29,3.51,scattered clouds
557,557,kupang,ID,2021-10-03 21:20:36,-10.1667,123.5833,75.58,84,52,3.83,broken clouds
558,558,ambovombe,MG,2021-10-03 21:28:05,-25.1667,46.0833,71.11,83,1,5.88,clear sky

In [11]:
list(city_data_df.columns.values)

['City_ID',
 'City',
 'Country',
 'Date',
 'Lat',
 'Lng',
 'Max Temp',
 'Humidity',
 'Cloudiness',
 'Wind Speed',
 'Current Description']

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,rikitea,PF,73.62,broken clouds,-23.1203,-134.9692,
4,sao miguel,BR,81.37,clear sky,-5.4667,-35.3667,
8,atuona,PF,77.70,few clouds,-9.8000,-139.0333,
11,saint-leu,RE,72.46,clear sky,-21.1500,55.2833,
13,carmen,MX,87.84,broken clouds,18.6333,-91.8333,
15,bambous virieux,MU,72.21,light rain,-20.3428,57.7575,
16,saint-philippe,RE,72.99,light rain,-21.3585,55.7679,
17,saint george,US,89.44,clear sky,37.1041,-113.5841,
20,ambon,ID,75.34,scattered clouds,-3.6954,128.1814,
22,lagoa,PT,70.70,scattered clouds,39.0500,-27.9833,

In [14]:
#Set parameters to search for a hotel in Paris
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}
#Use base URL to search the JSON data from the search.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()
    
hotels

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,rikitea,PF,73.62,broken clouds,-23.1203,-134.9692,People ThankYou
4,sao miguel,BR,81.37,clear sky,-5.4667,-35.3667,Maracajaú Reef
8,atuona,PF,77.70,few clouds,-9.8000,-139.0333,Villa Enata
11,saint-leu,RE,72.46,clear sky,-21.1500,55.2833,La Caz Oceane
13,carmen,MX,87.84,broken clouds,18.6333,-91.8333,Hotel Lossandes
15,bambous virieux,MU,72.21,light rain,-20.3428,57.7575,Casa Tia Villa
16,saint-philippe,RE,72.99,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
17,saint george,US,89.44,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
20,ambon,ID,75.34,scattered clouds,-3.6954,128.1814,Swiss-Belhotel Ambon
22,lagoa,PT,70.70,scattered clouds,39.0500,-27.9833,Casa Das Faias

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,rikitea,PF,73.62,broken clouds,-23.1203,-134.9692,People ThankYou
4,sao miguel,BR,81.37,clear sky,-5.4667,-35.3667,Maracajaú Reef
8,atuona,PF,77.70,few clouds,-9.8000,-139.0333,Villa Enata
11,saint-leu,RE,72.46,clear sky,-21.1500,55.2833,La Caz Oceane
13,carmen,MX,87.84,broken clouds,18.6333,-91.8333,Hotel Lossandes

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))